using System;
using System.CommandLine;

namespace {{Namespace}};

partial class {{ClassName}} {
  public static RootCommand Create() {
    var rootCommand = new RootCommand({{#HasDescription}}"{{Description}}"{{/HasDescription}});

    {{#Options}}
    var {{Name}}Option = new Option<{{Type}}>([{{#Aliases}}"{{Name}}"{{^IsLast}}, {{/IsLast}}{{/Aliases}}]{{#HasDescription}}, "{{Description}}"{{/HasDescription}});
    rootCommand.AddOption({{Name}}Option);  
    {{/Options}}

    {{#HasHandler}}
    rootCommand.SetHandler(({{#Options}}{{Name}}{{^IsLast}}, {{/IsLast}}{{/Options}}) => {
      {{MethodName}}({{#Options}}{{Name}}{{^IsLast}}, {{/IsLast}}{{/Options}});
    }{{#Options}}, {{Name}}Option{{/Options}});  
    {{/HasHandler}}

    return rootCommand;
  }
}